<section>
    <div class="container">
        <h2 class="text-center my-5">registro de Usuarios</h2>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/user/signup/add" method="POST">
                            <div><img src="/img/email.svg" alt="" class="user__imagen"></div>
                            <div>
                                <label for="" class="my-2">Name</label>
                                <input type="text" name="name" class="form-control" placeholder="name">
                            </div>
                            <div>
                                <label for="" class="my-2">Apellido</label>
                                <input type="text" name="apellido" class="form-control" placeholder="apellido">
                            </div>
                            <div>
                                <label for="" class="my-2">User Name</label>
                                <input type="text" name="username" class="form-control" placeholder="name">
                            </div>
                            <div>
                                <label for="" class="my-2">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="@example.com">
                            </div>
                            <div>
                                <label for="" class="my-2">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="*********">
                            </div>
                            <div>
                                <input type="submit" class="btn-cliente btn-black" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>